---
- name: Build and Deploy Docker Application
  hosts: localhost
  connection: local
  become: yes

  vars:
    docker_image: wagworld-store
    docker_hub_repo: "{{ docker_hub_user }}/wagworld-store"
    workspace_dir: /var/lib/jenkins/workspace/WagWorld-Pipeline
    container_name: WagWorld-Store
    host_port: 8082
    container_port: 8080

  tasks:
    - name: Update apt package cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Log in to Docker Hub
      community.docker.docker_login:
        username: "{{ docker_hub_user }}"
        password: "{{ docker_pat }}"
        reauthorize: yes
      no_log: true

    - name: Build and push image to Docker Hub
      community.docker.docker_image:
        name: "{{ docker_hub_repo }}"
        tag: latest
        build:
          path: "{{ workspace_dir }}"
          pull: yes
        push: yes
        source: build

    - name: Remove old container if exists
      community.docker.docker_container:
        name: "{{ container_name }}"
        state: absent

    - name: Run new container
      community.docker.docker_container:
        name: "{{ container_name }}"
        image: "{{ docker_hub_repo }}:latest"
        state: started
        restart_policy: always
        published_ports:
          - "{{ host_port }}:{{ container_port }}"