- name: Build and Deploy Docker Application
  hosts: localhost
  connection: local
  become: yes
  vars:
    docker_image: wagworld-store
    docker_hub_repo: "{{ docker_hub_user }}/wagworld-store"
    workspace_dir: /var/lib/jenkins/workspace/WagWorld-Pipeline
    container_name: WagWorld-Store
    host_port: 8082
    container_port: 8080

  tasks:
    - name: Update apt package cache
      apt:
        update_cache: yes

    - name: Build Docker image
      docker_image:
        name: "{{ docker_image }}"
        tag: latest
        path: "{{ workspace_dir }}"
        source: "{{ workspace_dir }}"
        state: present
        # build: yes

    - name: Tag Docker image for Docker Hub
      command: docker tag {{ docker_image }}:latest {{ docker_hub_repo }}:latest

    - name: Log in to Docker Hub
      community.docker.docker_login:
        registry_url: https://index.docker.io/v1/
        username: "{{ docker_hub_user }}"
        password: "{{ docker_pat }}"
      no_log: true
      register: login_result
      retries: 3
      delay: 5
      until: login_result is success

    - name: Push Docker image to Docker Hub
      docker_image:
        name: "{{ docker_hub_repo }}"
        tag: latest
        push: yes

    - name: Stop existing container if running
      docker_container:
        name: "{{ container_name }}"
        state: absent
        force_kill: yes
        timeout: 10

    - name: Run Docker container
      docker_container:
        name: "{{ container_name }}"
        image: "{{ docker_hub_repo }}:latest"
        state: started
        ports:
          - "{{ host_port }}:{{ container_port }}"
        restart_policy: always
