---
- name: Build and Deploy Docker Application
  hosts: localhost
  connection: local
  become: yes

  vars:
    docker_image: wagworld-store
    docker_hub_repo: "{{ docker_hub_user }}/wagworld-store"
    workspace_dir: /var/lib/jenkins/workspace/WagWorld-Pipeline
    container_name: WagWorld-Store
    host_port: 8082
    container_port: 8080

  tasks:
    - name: Update apt package cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Build Docker image
      community.docker.docker_image:
        name: "{{ docker_image }}"
        tag: latest
        build:
          path: "{{ workspace_dir }}"
          pull: yes
        source: build
        state: present

    - name: Tag Docker image for Docker Hub
      community.docker.docker_image:
        name: "{{ docker_image }}:latest"
        repository: "{{ docker_hub_repo }}:latest"
        state: present

    - name: Log in to Docker Hub
      community.docker.docker_login:
        username: "{{ docker_hub_user }}"
        password: "{{ docker_pat }}"
      no_log: true

    - name: Push Docker image to Docker Hub
      community.docker.docker_image:
        name: "{{ docker_hub_repo }}"
        tag: latest
        push: true
        source: push
        state: present

    - name: Stop and remove existing container
      community.docker.docker_container:
        name: "{{ container_name }}"
        state: absent
        force_kill: yes

    - name: Run new Docker container
      community.docker.docker_container:
        name: "{{ container_name }}"
        image: "{{ docker_hub_repo }}:latest"
        state: started
        restart_policy: always
        published_ports:
          - "{{ host_port }}:{{ container_port }}"